/* Minimal responsive styles for the benefit concert site */
:root {
    --primary: #0b74de;
    --secondary: #f3f4f6;
    --accent: #ff8a65;
    --maxw: 900px
}

* {
    box-sizing: border-box
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial;
    line-height: 1.4;
    color: #111;
    margin: 0;
    /* background: #fff */
    /* background-image: url('../images/music-notes-background-10pct.jpg'); */    
    background-repeat: repeat;
}

main {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

a {
    color: var(--primary)
}

.container {
    max-width: var(--maxw);
    margin: 0 auto;
    padding: 1rem;
    background-color: #ffffff;
}

.hero {
    text-align: center;
    padding: 2rem 0
}

.hero h1 {
    font-size: 1.6rem;
    margin: .2rem 0
}

.hero img.banner-img {
    border-radius: 10px;
    width: 100%;
}

.payment-card {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.qr-container p {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: .6rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    margin: .25rem
}

.btn.primary {
    background: var(--primary);
    color: #fff
}

.btn.secondary {
    background: #eee
}

.performer-card {
    list-style: none;
    margin: 1rem 0;
    padding: .5rem;
    border-bottom: 1px solid #eee;
    display: flex;
    gap: 1rem;
    align-items: center
}

.performer-card img {
    width: 72px;
    height: 72px;
    object-fit: contain;
    border-radius: 8px
}

@media(min-width:700px) {
    .hero h1 {
        font-size: 2rem
    }

    .performer-card {
        padding: 1rem
    }
}

/* csehy page */
#csehy-img {
    background-color: #025182; 
    border-radius: 10px; 
    padding: 5px;    
}

#csehy-img img {
    width: 295px;
}

/* Styles applied when the viewport width is 767px or less */
@media screen and (max-width: 350px) {
  #csehy-img img {
    width: 100%; /* Example: make it full width on smaller screens */
  }
}